body{
  font-size: 1.2em;
  line-height: 1.5;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 100;
}

@font-face {
  font-family: 'Elusive-Icons';
  src:url('../font/Elusive-Icons.eot');
  src:url('../font/Elusive-Icons.eot?#iefix') format('embedded-opentype'),
    url('../font/Elusive-Icons.svg#Elusive-Icons') format('svg'),
    url('../font/Elusive-Icons.woff') format('woff'),
    url('../font/Elusive-Icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

a{
  transition: color 0.8s;
}

li{
  line-height: 1.5;
}

h1{
  font-size: 2em;
  font-weight: 100;
}

p{
  margin: 1em 0em;
}
.muted{
  font-size: 0.9em;
}

.social-network{
  font-size: 0.8em;
  margin-top: 3em;
}

.social-network a,
.social-network a i{
  transition: color 0.8s;
  text-decoration: none;
}

.social-network a:hover i{
  color: #005580;
}

.icon-github{
  color: #000;
}

.icon-linkedin{
  color: #4788b8;
}

.icon-stackoverflow{
  color: #eb6d2c;
}

.icon-twitter{
  color: #379bea;
}

.icon-facebook{
  color: #314983;
}

.icon-spotify{
  color: #86b032;
}